@import url('https://fonts.googleapis.com/css?family=Montserrat:200i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap');

$key_color: #ed0c0c;

.v-enter-active, .v-leave-active {
  transition: opacity .5s;
}

.v-enter, .v-leave-to {
  opacity: 0;
}

a {
  color: $key_color;
  @media screen and (min-width:1024px) {
    font-size: 90%;
  }
  &:hover {
    color: $key_color;
    opacity: 0.7;
  }
}

.article {
  line-height: 200%;
  border-bottom: 1px solid #615555;
  padding: 30px 10px;
  @media screen and (min-width:1024px) {
    line-height: 220%;
    padding: 100px 0;
  }
  a {
    // text-decoration: underline $key_color;
    font-style: italic;
  }
  a:hover {
    text-decoration: wavy underline $key_color;
  }
}

body {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 300;
  font-size: 15px;
  @media screen and (min-width:1024px) {
    font-size: 120%;
  }

}

.child-content {
  padding-top: 60px;
}

.wrapper {
  @media screen and (min-width:1024px) {
    margin: 0 auto;
    width: 1160px;
  }
}

.hero {
  &-image {
    background-image: url(./assets/images/top/hero-image_01.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    @media screen and (min-width:1024px) {
      background-repeat: no-repeat;
      background-position: top 10% center;
      margin-top: 140px;
      height: 80vh;
      width: 60vw;
    }
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: transparent;
  &-burger {
    color: $key_color;
    &:hover {
      background-color: transparent;
      color: $key_color;
    }
    span {
      height: 2px;
    }
  }
  &-brand {
    background-color: rgba(255, 255, 255, 0.6);
  }
  &-menu {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100vh;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    @media screen and (min-width:1024px) {
      text-align: right;
      font-size: 100%;
      height: auto;
    }
  }
  &-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @media screen and (min-width:1024px) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }
}

a {
  &.navbar-item {
    &:active {
      @media screen and (min-width:1024px) {
        background-color: transparent;
        color: $key_color;
      }
    }
    &:hover {
      background-color: transparent;
      color: inherit;
      @media screen and (min-width:1024px) {
        color: $key_color;
      }
    }
  }
}

.news {
  &-image {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    img {
      height: auto;
      width: 49%;
    }
  }
  &-info{
    margin: 60px 0;
    &-second {
      margin-top: 50px;
      p {
        margin: 20px 0 50px;;
      }
    }
    &-top{
      border-bottom: 1px solid #4a4a4a;
      h3 {
        font-size: 130%;
        font-style: italic;
      }
      p {
        margin: 10px 0  30px;
      }
    }
  }
}

.main-article {
  &-item {
    margin-top: 10px;
    @media screen and (min-width:1024px) {
      margin-top: 80px;
    }
    img {
      display: block;
    }
  }
}

.product {
  &-hero {
    &-image {
      img {
      margin-bottom: 50px;
      }
    }
  }
  &-list {
    &-item {
      img {
        margin-bottom: 40px;
        @media screen and (min-width:1024px) {
          width: 60%;
        }
      }
      text-align: center;
      &-caption {
        &-height {
          font-size: 90%;
        }
        p {
          margin: 30px 0 30px;
        }
        &-small {
          padding-bottom: 30px;
          font-size: 90%;
          p {
            margin-bottom: 10px;
          }
        }
      }
      &-title {
        font-size: 120%;
        text-decoration: underline;
      }
      &-image {
        &-bottom {
          margin-bottom: 40px;
        }
      }
      &-png {
        img {
          height: auto;
          width: 70%;
          @media screen and (min-width:1024px) {
            width: 50%;
          }
        }
        margin: 50px 0 80px;
      }
      &-text {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }
  }
}

.top {
  &-news{
    &-item {
      @media screen and (min-width:1024px) {
        font-size: 25px;
      }
    }
  }
}

.title {
  &.is-2 {
    @media screen and (min-width:1024px) {
      font-size: 400%;
    }
  }
}

.link {
  display: block;
  position: relative;
  @media screen and (min-width:1024px) {
    overflow: hidden;
    &-imgWrap {
      display: block;
      height: 700px;
      transition-duration: 0.5s;
      img {
        display: block;
      }
      &:hover {
        transform: scale(1.06);	
        transition-duration: 1s;
      }
    }
  }
  .icon-arrow {
    height: auto;
    padding: 5px;
    position: absolute;
    top: 85%;
    right: 10px;
    width: 40%;
    z-index: 20;
    opacity: 0.8;
    @media screen and (min-width:1024px) {
      display: none;
    }
  }
}

.profile {
  img {
    width: 50%;
  }
  @media screen and (min-width:1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 60%;
    }
  }
}

.to_top {
  background-image: url(./assets/images/common/illust/to_top.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 20px;
  display: inline-block;
  height: 60px;
  position: fixed;
  right: 10px;
  width: 60px;
  z-index: 100;
  @media screen and (min-width:1024px) {
    bottom: 20px;
    height: 100px;
    right: 60px;
    width: 100px;
  }
}

.footer {
  font-size: 80%;
  padding: 10px 50px 20px 10px;
}